.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container, .container-fluid {
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: black;
}

h3 {
  text-align: center;
  color: black;
}

hr {
  display: block;
  height: 2px;
  border: 2px;
  size: 10px;
  width: 7%;
  border-top: 3px solid #ccc;
  margin: 1em auto;
  padding: 0;
}


#Hero {
  width: 100%;
  height: 800px;
  margin: 0;
  background-color: antiquewhite;
}

#HeroHeader {
  padding-top: 200px;
  padding-bottom: 50px;
}

#HomeTextRectangle {
  width: 100%;
  height: 300px;
  margin: 0;
}

#htrH1 {
  margin-top: 1%;
}

#htrH3 {
  margin-left: 25%;
  margin-right: 25%;
  font-size: large;
}

#HomeTabs {
  background-color: whitesmoke;
}

#tabsSpan {
  margin-top: -50px;
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
